
.hero{
    
    background-color: hsl(240, 12%, 21%);
    height: 530px;
    color:#fff;
}
.heroContainer{
    display: flex;
    justify-content: center;
    
    
    
}


.heroScreen Image{
    /* width: 55%; */
}
.heroTextContainer{
    /* border:2px solid blue; */
    display: flex;
    align-items: center;
    justify-content:flex-end;
    flex-wrap: wrap;
    width:55vw;
}
.heroText{
   /* border:2px solid red; */
    min-height: 50%;
    width:35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 0;
}
.heroScreen{
    width:75vw;
    padding-right: 20px;
    
 
    display: flex;
    flex-direction:column;
    justify-content:flex-end;
    align-content: flex-end;
    height: 530px;
}

.main{
    /* padding: 0 100px; */
    overflow: hidden;
}

.section1{
    min-height:100vh;
    padding-top:40px;
    padding: 5vh 7vw;
    ;
    
}



.section1screens{
    padding: 50px 0px;
    /* align-items: center; */
    
    height:70vh;
    display: flex;
    justify-content: space-between;
}
#list {
    margin-top: 20px;
}
.screens{
    width: 50vw;
}
.intro{
    width: 30vw;
}



.section2{
    /* background-color: red; */
   
    height:100vh;
    margin-top: 3vh;
    
    padding: 10vh 7vw;
}
.section2 h1{
    padding-bottom: 1vh;
}

/* ariadne platform  */

.section3{
    overflow: hidden;
    
}

.gifbox{
    padding: 60px 5vw;
    min-height:30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 60px 0; */
}
.giftext{
    width: 38vw;
    /* margin-right: 50px; */
    
}
.giftext p{
   margin-top: 15px;
}

.gif{
    width: 35vw; 
}
.gif video{
    border-radius: 10px;
    /* border: 1px solid rgb(231, 231, 231); */
}
.section4{
    min-height: 100vh;
    padding: 50px 9vw;
    /* padding-top: 80px; */
    
}
.section4 h1{
    margin-bottom: 50px;
}

.section5{
    
    min-height: 120vh;
    
    /* padding: 70px 0; */
    /* margin-top: 40px; */
    /* padding-top: 40px; */
    padding: 50px 7vw;
    font-weight: 300;
    /* background-color: red; */
}
.section5 h1{
    margin-bottom: 40px;
}
.products{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.product{
    width: 21vw;
}
.product h4{
    margin-top: 25px;
    margin-bottom: 18px;
}


.section6{
    /* background-color: red; */
    min-height: 120vh;
    padding: 40px 0px;
    padding: 0 7vw;
    padding-top: 50px;
    
   
    
}
.blogCarousel{
    margin-top: 15vh;
    
    
    
}

.section7{
    
    min-height: 100vh;
    
}
#calendly{
    min-width:320px; 
    height: 120vh;
}

 @media only screen and (min-width:1535px){
        
        .section1{
            margin-top: 80px;
            
        }


        .section2{
           
            padding-top:10vh;
            min-height: 70vh;
        }

        .gifbox{
            /* background-color: red; */
            padding: 60px 5vw;
            min-height:30vh;
            display: flex;
            justify-content: space-around;
            align-items: center;
            /* padding: 60px 0; */
        }



        .section3{
            

        }
        .section4{
            
            min-height: 100vh;
            padding: 80px 11vw;
            /* padding-top: 80px; */
            
        }
        .section5{
          
            padding-top: 17vh;
        }
        .section6{
           
            /* background-color: red; */
            /* max-height: 300px; */
            min-height: 90vh;
            padding-top: 3vh;
        }
        .section7{
        
            height:1000px;
        }



        .hero{
    
            background-color: hsl(240, 12%, 21%);
            height: 800px;
            color:#fff;
            
        }
        .heroContainer{
            display: flex;
            justify-content: center;
           
            
            
            
        }
        .heroScreen Image{
            /* width: 55%; */
        }
        .heroTextContainer{
         
            display: flex;
            align-items: center;
            justify-content:flex-end;
            flex-wrap: wrap;
            width:55vw;
        }
        .heroText{
           /* border:2px solid red; */
            min-height: 50%;
            width:35vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-wrap: wrap;
            padding-top: 0;
        }
        .heroScreen{
            width:73vw;
            padding-right: 20px;
            
         
            display: flex;
            flex-direction:column;
            justify-content:flex-end;
            align-content: flex-end;
            height: 800px;
        }
        
    #calendly{
        min-width:320px; 
        min-height: 90vh;
    }



    .intro{
        width: 28vw;
    }
    #list {
        margin-top: 1.2vw;
    }

      
} 

@media only screen and (max-width:1024px){
    .main{
        padding-left:8px;
        padding-right:8px;

    }

   

    








    .section1{
        min-height: 1100px;
    }




    .section1screens{
        flex-direction:column;
        padding: 50px 20px;
    }
    .screens{
        width: 100%;
        margin-bottom: 30px;
    }
    .intro{
        width: 100%;
    }
    .giftext p{
        margin-top: 1px;
     }
     


    .gifbox{
        padding: 40px 20px;
        margin-bottom: 10px;
        min-height:20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .giftext{
        width: 100%;
        margin-right: 0px;
    }
    .gif{
        width: 100%;
    }


    .section5{
        min-height: 100vh;
        padding: 50px 15px;

    }
    
    .products{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .product{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content:center;
        margin: 20px 0;
        text-align: center;
    }
    .product img{
        
    }
   
    .product h4{
        margin-top: 25px;
        margin-bottom: 18px;
    }
    #calendly{
        min-width:320px; 
        min-height: 150vh;
    }

    .section6{
        height: 90vh;
        padding: 40px 10px;
        
    }


}







@media only screen and (max-width:576px){
    .calendly{
        height: 1000px;
    }
    .section1{
        padding:0 1vw;
        padding-top: 50px;
        height: 130vh;
        

        /* background: #000; */
        margin-bottom: 30px;
    }
    .section2{

        padding: 3vh 1vw;
        /* min-height: 100vh; */
        height: 500px;
    }
    .section3{
        overflow: hidden;
        /* padding: 0 1vw; */
    }
.section4{
    width:100%;
    overflow-x: hidden;
    /* padding-left:1vw;
    padding-right: 1vw; */
    /* padding: 0 1vw; */
    padding: 50px 0;
}
.section5{
    /* padding: 0 1vw; */

}
.section6{
    padding: 50px 0;
    height: 700px;
}
    .section7{
        overflow-x: hidden;
        /* height: 10vh; */
        height: 200vh;
        width:95%;
    }


    .main{
        padding-left:1px;
        padding-right:1px;

    }

    
    .hero{
        background-color: #30303d;
        height: 70vh;
        color:#fff;
    }
    .heroContainer{
        
        
        height: 70vh;
        bottom:0;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:flex-end;
        
        
        
    }

    .heroTextContainer{
        display: flex;
        flex-direction: column;
        
        align-items: center;
        justify-content:flex-start;
        flex-wrap: wrap;
        width:100%;
        height: 30vh;
    }
    .heroText{
       
        width:81%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        height: 30vh;
        
        flex-wrap: wrap;
        padding-top: 0;
    }
    .heroScreen{
        width:100%;
        margin-right: 0;
        display: flex;
        flex-direction:column;
        justify-content:flex-end;
        align-content: flex-end;
        height: 40vh;
        object-fit: contain;
        
        
        
    }
    .heroScreen img{
        display:block;
        width: 100%;
    }
    .heroScreen video{
        display: none;
    }













    .section1screens{
        flex-direction:column;
        padding: 50px 20px;
    }
    .screens{
        width: 100%;
        margin-bottom: 30px;
    }
    .intro{
        width: 100%;
    }
    .giftext p{
        margin-top: 1px;
     }
     


    .gifbox{
        padding: 40px 20px;
        margin-bottom: 10px;
        min-height:20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .giftext{
        width: 100%;
        margin-right: 0px;
    }
    .gif{
        margin-top: 5vh;
        width: 100%;
    }


    .section5{
        min-height: 100vh;
        padding: 50px 1vw;

    }
    
    .products{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .product{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content:center;
        margin: 20px 0;
        text-align: center;
    }
    .product img{
        
    }
   
    .product h4{
        margin-top: 25px;
        margin-bottom: 18px;
    }
   

    .section6{
        min-height: 90vh;
        padding: 40px 10px;
        
    }


}