
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
.main h1{
    font-size: 2.7rem;
    /* font-weight:400; */
}
.main h2{
        font-size: 2.5rem;
}

.main h3{
    font-size: 2.2rem;
}

.main h4{
    font-size: 1.9rem;
}


.main p{
    font-size: 1.125rem;
}


.imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px red solid; */
}
.imageContainer img{
    display: block;
    /* border: 1px red solid; */
    width:50%;
}


@media only screen and (min-width: 1540px){
    .main h1{
        font-size: 3.5rem;
        /* font-weight:400; */
    }
    .main h2{
            font-size: 3.3rem;
    }
    
    .main h3{
        font-size: 2.7rem;
    }
    
    .main h4{
        font-size: 2.3rem;
    }
    
    
    .main p{
        font-size: 1.425rem;
    }
    
    .main ul{
        /* list-style: square inside; */
    }
}

@media  (max-width:768px){
    
    .main h1{
        font-size: 2rem;
    }
    .main h2{
        font-size: 1.8rem;
    }

    .main h3{
        font-size: 1.7rem;
    }
    .main h4{
        font-size: 1.5rem;
    }
    .main p{
        font-size: 1rem;
    }
}
