.main h1{
    font-size: 43px;
}
.main p{
    font-size: 18px;
}
.main h3{
    font-size: 35px;
}

.main h4{
    font-size: 25px;
}

.imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px red solid; */
}
.imageContainer img{
    display: block;
    /* border: 1px red solid; */
    width:50%;
}


@media only screen and (min-width: 1281px){
    .main p{
        font-size: 1.6vw;
        letter-spacing: 0.8px;
    }
    .main h1{
        font-size: 3vw;
        letter-spacing: 1px;
    }
}

@media only screen and (min-width: 1400px){
    .main p{
        font-size: 1.6vw;
        letter-spacing: 0.8px;
    }
    .main h1{
        font-size: 3vw;
        letter-spacing: 1px;
    }
    .main h4{
        font-size:1.8vw;
    }
}

@media only screen and (max-width:768px){
    .main p{
        font-size: 16px;
    }
    .main h1{
        font-size: 30px;
    }

    .main h3{
        font-size: 25px;
    }
}
@media only screen and (max-width:359px){
    .main p{
        font-size: 8px;
    }
    .main h1{
        font-size: 16px;
    }

    .main h3{
        font-size: 13px;
    }
}